
* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    outline:solid black;
    width: 200px;
    margin: 0 auto;
}

ul {
    
    outline: solid black;
    background-color: white;
    padding-right: 10px;

}

h2 {

    font-weight: bold;
    font-size: 20px;
}

button {
    background-color: cornsilk;
}

button:hover{
    background-color: cyan;
}

p {
    display: block;
    padding: 8px 24px;
}

.recipe {
    width:800px;
    padding:8px;
    background-color: cornsilk;
    outline: solid black;
    margin: 10px auto;
    display:flex;
    flex-direction:column;
    align-items: center;
}

@media all and (max-width: 500px) {
    .recipe {
        flex-flow: column wrap;
    }
}

.lasagna-img {
    height: auto;
    width: 500px;
    flex:auto;
}

.burger-img {
    display: block;
    height: auto;
    width: 500px;
    margin: 0 auto;
}

.pizza-img {
    height: 375px;
    width: 500px;
    margin:auto;
}