
* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    outline:solid black;
    width: 200px;
    margin: 0 auto;
}

ul {
    margin: auto 250px;
    outline: solid black;
    background-color: white;
    
}

h2 {

    font-weight: bold;
    font-size: 20px;
}

button:hover{
    background-color: cyan;
}

p {
    display: block;
    padding: 8px 24px;
}

.recipe {
    width:800px;
    padding:8px;
    background-color: cornsilk;
    outline: solid black;
    margin: 10px auto;
}

.lasagna-img {
    height: auto;
    width: 500px;
}

.burger-img {
    display: block;
    height: auto;
    width: 500px;
    margin: 0 auto;
}

.pizza-img {
    height: 375px;
    width: 500px;
}